* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css trang web */
input {
  width: 300px;
}
textarea {
  width: 300px;
}
button {
  width: 300px;
  background-color: green;
  color: white;
  border-radius: 4px; /* bo tròn 4 góc */

}
